.select {
  width: min-content;
  position: relative;
  margin-bottom: 1rem;

  select {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--neutral-grey);
    padding: 1.3rem 1.6rem;
    border-radius: 5px;
    border: 1px solid var(--neutral-light);
    width: 34rem;
    background-color: #ffffff;
    appearance: none;

    &::placeholder {
      font-weight: normal;
    }

    &:focus {
      border-color: var(--primary-blue);
    }

    &:invalid {
      border-color: var(--primary-red) !important;
    }

    background-image: url(../src/images/select-icon.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(34rem - 3rem) center;
  }
}

.option {
  font-size: 1.2rem;
  font-weight: 400;
}

.icon {
  position: absolute;
  right: 1.6rem;
  top: 1.2rem;
}
